@import "nullstyle";
@import "mixins";

// Vars
$maxWidthContainer: 1330;
$maxWidth: 1440;
$fontFamily: 'Lato', sans-serif;
$primary: #E7ECEF;
$secondary: #274C77;
$halfSecondary: #516F91;
$secondaryLow: #879CB3;
$boxes: #F8F8FB;

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $primary;
}

.header {
    width: 100%;
    background: #FBFBFB;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 48px 24px rgba($color: $secondary, $alpha: .16);
    @include adaptive-value("margin-bottom", 56, 10, 1);

    &__container {
        max-width: $maxWidthContainer + px;
        min-height: 64px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("column-gap", 80, 5, 1);
    }

    &__logo {
        font-family: $fontFamily;
        font-weight: bold;
        @include adaptive-value("font-size", 18, 14, 1);
        text-decoration: none;
        color: $secondary;
    }

    &__date-time {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        @include adaptive-value("column-gap", 25, 5, 1);
        font-family: $fontFamily;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 14, 1);
        color: #274C77;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__dashboard {
        display: flex;
        align-items: center;
        @include adaptive-value("column-gap", 40, 5, 1);

        .dashboard__customize {
            font-family: $fontFamily;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 14, 1);
            color: $secondary;
            white-space: nowrap;

            @media (max-width: 768px) {
                position: absolute;
                top: 55px;
                right: 15px;
                background: $secondaryLow;
                color: $primary;
                padding: 5px 10px;
                display: none;

                &._active {
                    display: block;
                }
            }
        }

        .dashboard__user {
            display: flex;
            align-items: center;
            @include adaptive-value("column-gap", 15, 5, 1);
            font-family: $fontFamily;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 14, 1);
            color: $secondary;
            text-decoration: none;

            & span {
                font-weight: 700;
            }

            @media (max-width: 768px) {
                &._active .user__arrow {
                    transform: rotate(180deg);
                }
            }
        }

        .dashboard__signout {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.main {
    max-width: $maxWidth + px;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: min-content 1fr min-content;
    @include adaptive-value("column-gap", 60, 10, 1);
    padding-right: 10px;
}

.sidebar {
    height: 100%;
    display: flex;
    flex-direction: column;

    & nav {
        flex: 1 0 auto;
    }

    &__list {
        display: inline-flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__item {
        padding: 16px 60px 16px 10px;
        border-radius: 0 20px 20px 0;

        @media (min-width: 1440px) {
            padding-left: 64px;
        }

        @media (max-width: 1440px) {
            padding-right: 30px;
        }

        @media (max-width: 768px) {
            padding: 10px 10px 14px 10px;
        }
        
        &.first {
            background: $secondary;

            & a {
                color: $primary;
            }
        }

        & a {
            display: flex;
            align-items: center;
            column-gap: 20px;
            font-family: $fontFamily;
            font-style: normal;
            font-weight: 700;
            color: $secondary;
            text-decoration: none;
            @include adaptive-value("font-size", 20, 16, 1);

            @media (max-width: 768px) {
                & p {
                    display: none;
                }
            }
        }
    }
}

.main-content {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-template-columns: minmax(0, 690px);
}

.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include adaptive-value("column-gap", 62, 10, 1);
    @include adaptive-value("row-gap", 56, 10, 1);
}

.weather {
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr );
    background: $boxes;
    @include adaptive-value("padding", 20, 10, 1);
    border-radius: 20px;
    @include adaptive-value("column-gap", 23, 5, 1);
    font-family: $fontFamily;

    &__title {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 18, 12, 1);
        display: flex;
        align-items: flex-end;
        color: $secondary;
    }

    &__city {
        font-weight: 700;
        @include adaptive-value("font-size", 16, 12, 1);
        color: $halfSecondary;
    }

    &__avg {
        font-weight: 700;
        @include adaptive-value("font-size", 24, 14, 1);
        color: $halfSecondary;
    }

    &__min-max {
        font-weight: 400;
        display: flex;
        column-gap: 10px;
        color: #00B2FF;
        white-space: nowrap;
        @include adaptive-value("font-size", 14, 8, 1);

        & span:first-child {
            color: $secondaryLow;
        }

        & span:last-child {
            color: #FF7A00;
        }
    }

    &__summary {
        font-family: $fontFamily;
        @include adaptive-value("font-size", 14, 8, 1);
        font-weight: 400;
        color: $secondaryLow;
    }
}

.temperature {
    background: $boxes;
    @include adaptive-value("padding", 20, 10, 1);
    border-radius: 20px;
    font-family: $fontFamily;

    &__description {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 10px;
    }

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 18, 12, 1);
        color: $secondary;
    }

    &__degree {
        flex: 1 0 auto;
        @include adaptive-value("font-size", 33, 25, 1);
        color: $halfSecondary;
    }

    &__bottom {
        font-family: $fontFamily;
        font-weight: 400;
        @include adaptive-value("font-size", 14, 8, 1);
        color: $secondaryLow;
    }
}

.bottom-temperature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &__checkbox-group {
        position: relative;
        width: 35px;
        height: 17px;
        background: #ACB3C6;
        box-shadow: 0 5px 10px -3px rgba($color: $secondary, $alpha: .16);
        border-radius: 15px;
        transition: all .3s ease 0s;
        cursor: pointer;
    }

    &__label {
        display: block;
        width: 11px;
        height: 11px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        left: 3px;
        border-radius: 50%;
        z-index: 2;
        background: #EFF0F5;
        transition: all .3s ease 0s;
        cursor: pointer;
    }

    &__checkbox-group._active {
        background: $halfSecondary;
    }

    &__checkbox-group._active &__label {
        left: 21px;
    }
}

.wifi {
    background: $boxes;
    @include adaptive-value("padding", 20, 10, 1);
    border-radius: 20px;
    font-family: $fontFamily;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 18, 12, 1);
        color: $secondary;
    }

    &__description {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        row-gap: 10px;
    }

    &__connected,
    &__devices {
        font-weight: 700;
        @include adaptive-value("font-size", 15, 9, 1);
        color: $halfSecondary;

        & span {
            font-weight: 400;
            color: $secondaryLow;
        }
    }

    &__data {
        @include adaptive-value("font-size", 13, 7, 1);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 700;
        color: $halfSecondary;

        &-left,
        &-right {
            span:first-child {
                font-weight: 400;
                color: $secondaryLow;
                margin: 0 5px;
            }
        }

        &-left span:last-child {
            color: #9B4343;
        }

        &-right span:last-child {
            color: #439B57;
        }
    }
}

.electricity {
    background: $boxes;
    @include adaptive-value("padding", 20, 10, 1);
    border-radius: 20px;
    font-family: $fontFamily;

    &__title {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 18, 12, 1);
        color: $secondary;
    }

    & .tabs {

        &__items {
            height: 30px;
            display: flex;
            align-items: center;
            background: $primary;
            border-radius: 10px;
            margin: 15px 0;
        }

        &__item {
            flex: 0 0 50%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $fontFamily;
            font-weight: 700;
            @include adaptive-value("font-size", 14, 8, 1);
            color: $halfSecondary;
            text-decoration: none;

            & span {
                z-index: 3;
            }
        }

        &__block {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            display: none;
            position: relative;

            &::before {
                content: '';
                height: 30px;
                width: 50%;
                background: $secondaryLow;
                position: absolute;
                top: -45px;
                z-index: 2;
                border-radius: 10px;
            }

            &:nth-child(1):target::before {
                left: 0;
            }

            &:nth-child(2):target::before {
                right: 0;
            } 

            &:target {
                display: block;
            }
        }

        .tab__img {
            margin: 0 auto;
        }

        .tab__img-2 {
            transform: scale(-1, 1);
        }
    }
}

.slider {
    @include adaptive-value("margin-top",56, 10, 1);
    background: url("../img/slider/bg.png") center / cover no-repeat;
    border-radius: 20px;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    min-width: 0;
    display: flex;
}