@import "nullstyle";
@import "mixins";

// Vars
$maxWidthContainer: 1330;
$maxWidth: 1440;
$fontFamily: 'Lato', sans-serif;
$primary: #E7ECEF;
$secondary: #274C77;
$halfSecondary: #516F91;
$secondaryLow: #879CB3;
$boxes: #F8F8FB;

.wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: $primary;
}

.header {
    width: 100%;
    background: #FBFBFB;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 48px 24px rgba($color: $secondary, $alpha: .16);
    @include adaptive-value("margin-bottom", 56, 10, 1);

    &__container {
        max-width: $maxWidthContainer + px;
        min-height: 64px;
        padding: 0 10px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include adaptive-value("column-gap", 80, 5, 1);
    }

    &__logo {
        font-family: $fontFamily;
        font-weight: bold;
        @include adaptive-value("font-size", 18, 14, 1);
        text-decoration: none;
        color: $secondary;
    }

    &__date-time {
        flex: 1 0 auto;
        display: flex;
        flex-wrap: wrap;
        @include adaptive-value("column-gap", 25, 5, 1);
        font-family: $fontFamily;
        font-weight: 400;
        @include adaptive-value("font-size", 18, 14, 1);
        color: #274C77;

        @media (max-width: 992px) {
            display: none;
        }
    }

    &__dashboard {
        display: flex;
        align-items: center;
        @include adaptive-value("column-gap", 40, 5, 1);

        .dashboard__customize {
            font-family: $fontFamily;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 14, 1);
            color: $secondary;
            white-space: nowrap;

            @media (max-width: 768px) {
                position: absolute;
                top: 55px;
                right: 15px;
                background: $secondaryLow;
                color: $primary;
                padding: 5px 10px;
                display: none;

                &._active {
                    display: block;
                }
            }
        }

        .dashboard__user {
            display: flex;
            align-items: center;
            @include adaptive-value("column-gap", 15, 5, 1);
            font-family: $fontFamily;
            font-weight: 400;
            @include adaptive-value("font-size", 18, 14, 1);
            color: $secondary;
            text-decoration: none;

            & span {
                font-weight: 700;
            }

            @media (max-width: 768px) {
                &._active .user__arrow {
                    transform: rotate(180deg);
                }
            }
        }

        .dashboard__signout {
            @media (max-width: 768px) {
                display: none;
            }
        }
    }
}

.main {
    flex: 1 0 auto;
    width: $maxWidth + px;
    margin: 0 auto;
    display: flex;
    @include adaptive-value("column-gap", 60, 10, 1);
}

.sidebar {

    display: inline-flex;
    flex-direction: column;


    &__item {
        padding: 16px 60px 16px 10px;
        border-radius: 0 20px 20px 0;
        margin-bottom: 10px;

        @media (min-width: 1440px) {
            padding-left: 64px;
        }

        @media (max-width: 1440px) {
            padding-right: 30px;
        }

        @media (max-width: 768px) {
            padding: 10px 10px 14px 10px;
        }
        
        &.first {
            background: $secondary;

            & a {
                color: $primary;
            }
        }

        & a {
            display: flex;
            align-items: center;
            column-gap: 20px;
            font-family: $fontFamily;
            font-style: normal;
            font-weight: 700;
            color: $secondary;
            text-decoration: none;
            @include adaptive-value("font-size", 20, 16, 1);

            @media (max-width: 768px) {
                & p {
                    display: none;
                }
            }
        }
    }
}

.main-content {
    display: grid;
    grid-template-rows: min-content min-content;
}

.cards {
    display: flex;
    grid-template: min-content min-content / min-content min-content;
}

.weather {
    display: grid;
    grid-template: min-content min-content / min-content min-content;
    background: $boxes;
    @include adaptive-value("padding", 20, 10, 1);
    border-radius: 20px;
    @include adaptive-value("column-gap", 23, 5, 1);
    font-family: $fontFamily;

    &__title {
        grid-column: span 2;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-style: normal;
        font-weight: 900;
        @include adaptive-value("font-size", 18, 12, 1);
        display: flex;
        align-items: flex-end;
        color: $secondary;
    }

    &__city {
        font-weight: 700;
        @include adaptive-value("font-size", 16, 10, 1);
        color: $halfSecondary;
    }

    &__avg {
        font-weight: 700;
        @include adaptive-value("font-size", 24, 14, 1);
        color: $halfSecondary;
    }

    &__min-max {
        font-weight: 400;
        display: flex;
        column-gap: 10px;
        color: #00B2FF;
        white-space: nowrap;
        @include adaptive-value("font-size", 14, 8, 1);

        & span:first-child {
            color: $secondaryLow;
        }

        & span:last-child {
            color: #FF7A00;
        }
    }

    &__summary {
        font-family: $fontFamily;
        @include adaptive-value("font-size", 14, 8, 1);
        font-weight: 400;
    }
}